section{padding-top: 5rem;}
#Project {  background-color: #e2edff;}
.jumbotron { 
  
  padding-top: 6rem;
  background-color: #e2edff;}
#sosmed {  
  background-color: #e2edff;
  margin: 0;}
  #Belajar {  
    background-color: #e2edff;
    margin: 0;}
footer {
  padding-bottom: 1rem;
  margin: 0;}
.btn {
  transition: all 0.3s;}
.btn:hover {
  transform: scale(1.2);}
a.nav-link {
  transition: all 0.3s;
  padding: 8px 0;
  margin-left: rem;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0);}
a.nav-link:hover {  
  transform: scale(1.1);
  border-bottom: 0.5px solid black;}
#Profilsy {
  transition: all 0.3s;
}
#Profilsy:hover {
  transform: scale(1.1);
}
#textP {
  transition: all 0.3s;}
#textP:hover {
  transform: scale(1.1);}
#Kartu {
  transition: all 0.3s;}
#Kartu:hover {
  transform: scale(1.05);
  #Pelajari{
    transition: all 2.3s;
behavior: smooth; }}
#TxtProfil {
  transition: all 0.3s;}
#TxtProfil:hover {
  transform: scale(1.1);}
nav{
  margin:0;
  padding: 0;
  margin-right: 0;
}
